body{
    margin: 0px;
    background-image: url("../images/background.png");
}

#content {
    width: 100%;
    height: calc(100vh - 128px);;
    text-align: center;
}

input[type="file"] {
    display: none;
}

#file-selector-label{
    display: inline-block;
    cursor: pointer;
    margin-top: 10vh;
    opacity: 0.83;
    padding: 5vh;
    font-family: "Arial black";
    font-size: "15";
    background-color: black;
    color: #6137A3;
}

#file-selector-label:hover{
    background-color: #6137A3;
    color: black;
}

.footer{
    background-image: url("../images/footer-background.png");
    background-repeat: repeat-x;
    height: 128px;
    text-align: center;
}
